
MONGO_URI=mongodb://localhost:27017/iam
JWT_PRIVATE_KEY_PATH=./keys/private.key
JWT_PUBLIC_KEY_PATH=./keys/public.key
JWT_ACCESS_TOKEN_EXPIRATION=900s
JWT_REFRESH_TOKEN_EXPIRATION=30d
JWT_ISSUER=iam-service
JWT_AUDIENCE=iam-client
PORT=3000
